<body style="background-color: rgb(197, 205, 212);">

    <body style="background-color: rgb(197, 205, 212);">

        
        <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top px-4 px-lg-5">
            <a href="/" class="navbar-brand d-flex align-items-center">
                <h1 class="m-0">Bike Accessories Sales</h1>
            </a>
            <button type="button" class="navbar-toggler me-0" data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto p-4 p-lg-0">
                    <a href="/" class="nav-item nav-link active">Home</a>
                    <a href="/about" class="nav-item nav-link">About</a>
                    <a href="/products" class="nav-item nav-link">Products</a>

                    {{#if isLogin}}
                    <form action="/logout" class="nav-item nav-link text-danger" method="post">
                        <input value="Logout" type="submit" style="border: 0ch;color:red;background-color:white;">
                    </form>
                    {{else }}
                    <a href="/login" class="nav-item nav-link">Login / Sign up</a>
                    {{/if}}
                </div>
            </div>
        </nav>
    




        <div style="height: 75vh ; background-color: linear-gradient(to left, #ffffff 0%, #ffffff 100%; width :50vw"
            class=" d-flex align-items-center justify-content-center mt-5 p-5">
            <div class="container-fluid cust-inputbox  w-50   " id="asd">


                <form action='/reset-password2' method="post">
                    <h6 class="text-center">Reset Password</h6><br>
                    <div class="form-floating mb-3 ">
                        <input type="password" id="password1" name="password1" class="form-control"
                            class="floatingInput" placeholder="New Password">
                        <label for="password1">New Password</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" id="password2" name="password2" class="form-control"
                            class="floatingPassword" placeholder="Re-type password">
                        <label for="floatingPassword">Re-type password</label>
                    </div>
                    <br>

                    <center>

                        <br>
                        <div class="err">
                            <h6 style="color: red;" id="ermes">{{errMsg}}</h6>
                        </div>

                        <div>
                            <h6 style="color: rgb(12, 164, 12);">{{scsMsg}}</h6>
                        </div>

                    </center>
                    <br>
                    <center><input type="submit" value="Reset" class="btn btn-primary btn-md align-items-center"
                            id="butn">

                    </center>
            </div>

            </form>



            <div style="color: red;" id="result"></div>
        </div>