
<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top px-4 px-lg-5">
  <a href="/" class="navbar-brand d-flex align-items-center">
    <h1 class="m-0">Bike Accessories Sales</h1>
  </a>
  <button type="button" class="navbar-toggler me-0" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav ms-auto p-4 p-lg-0">
      <a href="/" class="nav-item nav-link ">Home</a>
      <a href="/about" class="nav-item nav-link">About</a>
      <a href="/products" class="nav-item nav-link">Products</a>

      {{#if isLogin}}
      <form action="/logout" class="nav-item nav-link text-danger" method="post">
        <input value="Logout" type="submit" style="border: 0ch;color:red;background-color:white;">
      </form>
      {{else }}
      <a href="/login" class="nav-item nav-link">Login / Sign up</a>
      {{/if}}
      <a href="/cart" class="nav-item nav-link"><i class="fa fa-shopping-cart"></i></a>
      {{#if isLogin}}
      <a href="/profile" class="nav-item nav-link active"><i class="fa fa-user-circle"></i></a>
      {{/if}}
    </div>
  </div>
</nav>


<body style="background-color: rgb(164, 177, 189);;">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <form action="/new-address-update" method="post" class="form-horizontal" role="form">
          <h2 class="mt-5">ADD NEW ADDRESS</h2>
          <br>
          <div class="form-group ">
            <label for="inputAddressLine2" class="col-sm-2 control-label">Address</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputAddressLine2" name="address" placeholder="Address">
              <div class="form-outline">
                {{!-- <textarea class="form-control" id="textAreaExample" rows="2" placeholder="Address"></textarea>
                --}}
                <label class="form-label" for="textAreaExample"></label>
              </div>
            </div>
          </div>

          <div class="form-group mb-3">
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputCityTown" name="city" placeholder="City / Town">
            </div>
          </div>

          <div class="form-group mb-3">
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputStateProvinceRegion" name="state" placeholder="State">
            </div>
          </div>

          <div class="form-group mb-3">
            <div class="col-sm-10">
              <input type="number" class="form-control" id="inputZipPostalCode" name="postalcode"
                placeholder="Zip / Postal Code">
            </div>
          </div>


          <div style='display:flex;'>
            <input type='submit' class="btn btn-primary mt-3" style="margin-left: 40%;"  value="ADD">
          </div>
        </form>
      </div>
    </div>
  </div>
</body>